
@{
    ViewBag.Title = "Questionnaire";
}

<h2>Questionnaire</h2>

<div data-ng-controller="questionsController as questions" id="questionsCtrl">
    <div id="formContainer" class="block push-bit form-horizontal form-bordered form-control-borderless">
        <form class="form-horizontal form-bordered form-control-borderless" id="obForm" name="questions.obForm" ng-submit="questions.onSubmitForm()" novalidate>
            <div class="form-group">
                <div class="col-xs-6">
                    Please answer the following questions to determine if obstetrical patient is normal<br>

                    <div class="form-bordered">
                        <div class="table-bordered">
                            <div class="ng-class:{'error': questions.showFormErrors && !questions.obForm.scoreOne.$valid}">
                                Labor began sponataneously between the 39th and 41st week of gestation<br>
                                <input type="radio" name="scoreOne" ng-model="questions.newData.scoreOne" value="1" ng-required="!questions.newData.scoreOne"> Yes
                                <input type="radio" name="scoreOne" ng-model="questions.newData.scoreOne" value="2" ng-required="!questions.newData.scoreOne"> No
                                @*<div role="alert" class="help-inline error" style="color:red">
                                        <span class="error" ng-show="questions.showFormErrors && questions.obForm.scoreOne.$error.required">Please enter score</span>
                                    </div>*@
                            </div>
                            <div class="ng-class:{'error': questions.showFormErrors && !questions.obForm.scoreFive.$valid}">
                                Membranes ruptured or were ruptured after labor began<br>
                                <input type="radio" name="scoreFive" ng-model="questions.newData.scoreFive" value="1" ng-required="!questions.newData.scoreFive"> Yes
                                <input type="radio" name="scoreFive" ng-model="questions.newData.scoreFive" value="2" ng-required="!questions.newData.scoreFive"> No
                                @*<div role="alert" class="help-inline error" style="color:red">
                                        <span class="error" ng-show="questions.showFormErrors && questions.obForm.scoreFive.$error.required">Please enter score</span>
                                    </div>*@
                            </div>
                            <div class="ng-class:{'error': questions.showFormErrors && !questions.obForm.scoreFive.$valid}">
                                Presentation was vertex, position was occiput OA, LOA, or ROA, and labor was less than 24 hours in duration<br>
                                <input type="radio" name="scoreFive" ng-model="questions.newData.scoreFive" value="1" ng-required="!questions.newData.scoreFive"> Yes
                                <input type="radio" name="scoreFive" ng-model="questions.newData.scoreFive" value="2" ng-required="!questions.newData.scoreFive"> No
                                @*<div role="alert" class="help-inline error" style="color:red">
                                        <span class="error" ng-show="questions.showFormErrors && questions.obForm.scoreFive.$error.required">Please enter score</span>
                                    </div>*@
                            </div>
                            <div class="ng-class:{'error': questions.showFormErrors && !questions.obForm.scoreFive.$valid}">
                                Delivery was spontataneous or by outlet forceps or vacuum with or without episiotomy, from an anterior position<br>
                                <input type="radio" name="scoreFive" ng-model="questions.newData.scoreFive" value="1" ng-required="!questions.newData.scoreFive"> Yes
                                <input type="radio" name="scoreFive" ng-model="questions.newData.scoreFive" value="2" ng-required="!questions.newData.scoreFive"> No
                                @*<div role="alert" class="help-inline error" style="color:red">
                                        <span class="error" ng-show="questions.showFormErrors && questions.obForm.scoreFive.$error.required">Please enter score</span>
                                    </div>*@
                            </div>
                            <div class="ng-class:{'error': questions.showFormErrors && !questions.obForm.scoreFive.$valid}">
                                The infant had a five minute APGAR score of 6 or more and weighed between 2500 and 4500 grams and was healthy<br>
                                <input type="radio" name="scoreFive" ng-model="questions.newData.scoreFive" value="1" ng-required="!questions.newData.scoreFive"> Yes
                                <input type="radio" name="scoreFive" ng-model="questions.newData.scoreFive" value="2" ng-required="!questions.newData.scoreFive"> No
                                @*<div role="alert" class="help-inline error" style="color:red">
                                        <span class="error" ng-show="questions.showFormErrors && questions.obForm.scoreFive.$error.required">Please enter score</span>
                                    </div>*@
                            </div>
                            <div class="ng-class:{'error': questions.showFormErrors && !questions.obForm.scoreFive.$valid}">
                                Placential delivery was uncomplicated and blood loss was less than 500 mL<br>
                                <input type="radio" name="scoreFive" ng-model="questions.newData.scoreFive" value="1" ng-required="!questions.newData.scoreFive"> Yes
                                <input type="radio" name="scoreFive" ng-model="questions.newData.scoreFive" value="2" ng-required="!questions.newData.scoreFive"> No
                                @*<div role="alert" class="help-inline error" style="color:red">
                                        <span class="error" ng-show="questions.showFormErrors && questions.obForm.scoreFive.$error.required">Please enter score</span>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6 text-left">
                    <button type="submit" id="cmdRegister" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Submit Answers</button>
                </div>
            </div>

        </form>
    </div>

</div>

@section Scripts{

    @*<script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/ng/angular.js"></script>
        <script src="~/Scripts/ng/angular-ui-bootstrap-0.14.2.js"></script>
        <script src="~/Scripts/sabio.js"></script>
        <script src="~/Scripts/sabio.ng.app.js"></script>*@
    <script type="text/javascript">

        sabio.page.startUp = function () {
            sabio.page.userController = sabio.ng.getControllerInstance($("#questionsCtrl"));
        }

        sabio.services.obstetricsFactory = function ($baseService) {
            var aSabioServiceObject = sabio.services.obstetrics;
            var newService = $baseService.merge(true, {}, aSabioServiceObject, $baseService);
            return newService;
        }

        sabio.ng.addService(sabio.ng.app.module,
            "$obstetricsService",
            ["$baseService"],
            sabio.services.obstetricsFactory);

        sabio.page.questionsControllerFactory = function ($scope, $baseController, $obstetricsService) {

            var vm = this;

            $baseController.merge(vm, $baseController);

            vm.$obstetricsService = $obstetricsService;
            vm.$scope = $scope;

            vm.settings = _settings;
            vm.onSubmitForm = _onSubmitForm;

            vm.newData = null;
            vm.showFormErrors = false;

            vm.notify = vm.$obstetricsService.getNotifier($scope);

            render();

            function render() {
                vm.settings();
            };

            function _settings() {
                vm.showFormErrors = false;
            }

            function _onSubmitForm(evt) {
                evt.preventDefault();
                console.log("validating");
                if (vm.obForm.$valid) {
                    console.log("form is valid");
                    var form = vm.newData;
                } else {
                    vm.showFormErrors = true;
                    console.log("form is not valid");
                }
            }
        }

        sabio.ng.addController(sabio.ng.app.module,
            "questionsController",
            ['$scope', '$baseController', "$obstetricsService"],
            sabio.page.questionsControllerFactory);


    </script>

}


