
<select class="form-control" id="complications" name="ComplicationsID" ng-model="gyn.caseData.ComplicationsID" required form-autofill-fix>
	<option value=""></option>
	<option value="Abdomoinal hysterectomy, any type (e.g total, subtotal, laparoscopic, robotic)">Abdomoinal hysterectomy, any type (e.g total, subtotal, laparoscopic, robotic)</option>	
	<option value="Laparotomy">Laparotomy</option>
	<option value="Vaginal hysterectomy (including laparoscopically assisted)">Vaginal hysterectomy (including laparoscopically assisted)</option>
	<option value="Diagnostic laparoscopy">Diagnostic laparoscopy</option>
	<option value="Operative laparoscopy (other than tubal sterilization and hysterectomy)">Operative laparoscopy (other than tubal sterilization and hysterectomy)</option>
	<option value="Operative hysteroscopy">Operative hysteroscopy</option>
	<option value="Uterine myomas">Uterine myomas</option>
	<option value="Repair of pelvic floor defects; prolapse">Repair of pelvic floor defects; prolapse</option>
	<option value="Endometriosis and adenomyosis: surgical management">Endometriosis and adenomyosis: surgical management</option>
	<option value="Tubal sterilization">Tubal sterilization</option>
	<option value="Invasive carcinoma">Invasive carcinoma</option>
	<option value="Urinary and fecal incontinence: operative management">Urinary and fecal incontinence: operative management</option>
	<option value="Ectopic pregnancy: surgical management">Ectopic pregnancy: surgical management</option>
	<option value="Operative management of pelvic pain">Operative management of pelvic pain</option>
	<option value="Congenital abnormalities of the reproductive tract">Congenital abnormalities of the reproductive tract</option>
	<option value="Pelvic inflammatory disease">Pelvic inflammatory disease</option>
	<option value="Adnexal problems (excluding ectopic pregnancy and PID)">Adnexal problems (excluding ectopic pregnancy and PID)</option>
	<option value="Abnormal uterine bleeding">Abnormal uterine bleeding</option>
	<option value="Surgical management of VIN, CIN, and VAIN">Surgical management of VIN, CIN, and VAIN</option>
	<option value="Postoperative complications (hemmorrhage, wound, urinary tract, GI, Pain, thrombotic, embolic, neurologic, fever, etc.)">Postoperative complications (hemmorrhage, wound, urinary tract, GI, Pain, thrombotic, embolic, neurologic, fever, etc.)</option>
	<option value="Management fo rectovaginal or urinary tract fistula">Management fo rectovaginal or urinary tract fistula</option>
	<option value="Properative evaluation of coexisting conditions (respiratory, cardiac, metabolic diseases)">Properative evaluation of coexisting conditions (respiratory, cardiac, metabolic diseases)</option>
	<option value="Gestational trophoblastic disease">Gestational trophoblastic disease</option>
	<option value="Incomplete, septic, complete and other abortion">Incomplete, septic, complete and other abortion</option>
	<option value="Intraoperative complications (e.g. blood loss, hemorrhage, bowel injury, urinary tract injury)">Intraoperative complications (e.g. blood loss, hemorrhage, bowel injury, urinary tract injury)</option>
	<option value="D & C">D & C</option>
	<option value="Emergency Care">Emergency Care</option>
	<option value="Uncategorized">Uncategorized</option>
	<!--<option ng-repeat="category in gyn.categories" name="category" value="{{category.Id}}">{{category.Category}}</option>-->
</select>