<select class="form-control" id="complications" name="ComplicationsID" ng-model="gyn.caseData.ComplicationsID" required form-autofill-fix>
	<option value=""></option>
	<option value="Preconception evaluation, prenatal and genetic diagnoses">Preconception evaluation, prenatal and genetic diagnoses</option>
	<option value="Ultrasonography">Ultrasonography</option>
	<option value="Premature labor">Premature labor</option>
	<option value="Premature rupture of fetal membranes at term">Premature rupture of fetal membranes at term</option>
	<option value="Preterm premature rupture of fetal membranes">Preterm premature rupture of fetal membranes</option>
	<option value="Cerclage">Cerclage</option>
	<option value="Preterm delivery (before 37 week gestation)">Preterm delivery (before 37 week gestation)</option>
	<option value="Late Preterm (37 weeks 0 days to 36 weeks 6 days gestation)">Late Preterm (37 weeks 0 days to 36 weeks 6 days gestation)</option>
	<option value="Post term pregnancy and delivery">Post term pregnancy and delivery</option>
	<option value="Induction and augmentation of labor">Induction and augmentation of labor</option>
	<option value="Labor abnormalities (including dystocia)">Labor abnormalities (including dystocia)</option>
	<option value="Fetal heart rate abnormalities (e.g. variable or late deceleration, absent or poor variability, tachycardia, bradycardia)">Fetal heart rate abnormalities (e.g. variable or late deceleration, absent or poor variability, tachycardia, bradycardia)</option>
	<option value="Breech and other fetal malpresentations">Breech and other fetal malpresentations</option>
	<option value="Cord problems (e.g. prolapsed cord, cord entanglement)">Cord problems (e.g. prolapsed cord, cord entanglement)</option>
	<option value="Operative vaginal delivery (e.g. vacuum, forceps)">Operative vaginal delivery (e.g. vacuum, forceps)</option>
	<option value="Obstetrical hemorrhage (e.g. antepartum, intrapartum, postpartum)">Obstetrical hemorrhage (e.g. antepartum, intrapartum, postpartum)</option>
	<option value="Obstetrical vaginal lacerations (e.g. 3rd and 4th degree lacerations cervical laceration)">Obstetrical vaginal lacerations (e.g. 3rd and 4th degree lacerations cervical laceration)</option>
	<option value="Vaginal or perineal hematoma">Vaginal or perineal hematoma</option>
	<option value="Primary cesarean delivery">Primary cesarean delivery</option>
	<option value="Repeat cesarean delivery">Repeat cesarean delivery</option>
	<option value="Vaginal birth after cesarean delivery">Vaginal birth after cesarean delivery</option>
	<option value="Cesarean hysterectomy">Cesarean hysterectomy</option>
	<option value="Complications of cesarean delivery (e.g. hemorrhage, wound infection, disruption or hematoma)">Complications of cesarean delivery (e.g. hemorrhage, wound infection, disruption or hematoma)</option>
	<option value="Complications of OB anesthesia (e.g. epidural hypotension, general anethesia complications)">Complications of OB anesthesia (e.g. epidural hypotension, general anethesia complications)</option>
	<option value="Intrapartum or intra-amniotic infection (e.g. amnionitis, chorioamnionitis)">Intrapartum or intra-amniotic infection (e.g. amnionitis, chorioamnionitis)</option>
	<option value="Puerperal infection (e.g. post cesarean endometritis)">Puerperal infection (e.g. post cesarean endometritis)</option>
	<option value="Second trimester spontaneous abortion">Second trimester spontaneous abortion</option>
	<option value="Third trimester fetal loss">Third trimester fetal loss</option>
	<option value="Hypertensive disorders of pregnancy (chronic hypertension, preeclampsia, eclampsia)">Hypertensive disorders of pregnancy (chronic hypertension, preeclampsia, eclampsia)</option>
	<option value="Cardiovascular or pulmonary disease complicating pregnancy">Cardiovascular or pulmonary disease complicating pregnancy</option>
	<option value="Renal or neurological disease complicating pregnancy">Renal or neurological disease complicating pregnancy</option>
	<option value="Hematological or endocrine diseases complicating pregnancy">Hematological or endocrine diseases complicating pregnancy</option>
	<option value="Autoimmune disorders of pregnancy">Autoimmune disorders of pregnancy</option>
	<option value="Infectious diseases (HIV, Group A streptococcus, etc.)">Infectious diseases (HIV, Group A streptococcus, etc.)</option>
	<option value="Psychiatric disease complicating pregnancy">Psychiatric disease complicating pregnancy</option>
	<option value="Pregnancies complicated by human immunodeficiency virus infection (HIV)">Pregnancies complicated by human immunodeficiency virus infection (HIV)</option>
	<option value="Abnormal fetal growth">Abnormal fetal growth</option>
	<option value="Pregnancies complicated by fetal anomalies">Pregnancies complicated by fetal anomalies</option>
	<option value="Placental abnormalities (e.g. low lying, previa, abruption)">Placental abnormalities (e.g. low lying, previa, abruption)</option>
	<option value="Thromboembolic complications">Thromboembolic complications</option>
	<option value="Trauma in pregnancy (e.g. automobile accidents)">Trauma in pregnancy (e.g. automobile accidents)</option>
	<option value="Uncategorized (cases in this category do not count toward the required 20 cases)">Uncategorized (cases in this category do not count toward the required 20 cases)</option>
</select>
