@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" align="center">
    <h1>CANORE</h1>
    <p class="lead">Case Notes Ready - Easy Access For Resident Physicians</p>
    <p><a href="http://canore.dev/hospitals" class="btn btn-primary btn-lg">View Hospitals</a></p>
</div>

<div class="row">
    <div class="col-md-4" align="center">
        <h2>Obstetrical Cases</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://canore.dev/obcases">View Cases</a></p>
    </div>
    <div class="col-md-4" align="center">
        <h2>Gynecological Cases</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4" align="center">
        <h2>Office Practice Cases</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>