@model Canore.Web.Models.ViewModels.ItemViewModel<int>

@{
    ViewBag.Title = "HospitalForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hospitals</h2>

<div data-ng-controller="hospitalsController as hospitals" id="hospitalsCtrl">
    <div id="formContainer" class="block push-bit form-horizontal form-bordered form-control-borderless">
        <form class="form-horizontal form-bordered form-control-borderless" id="hospForm" name="hospitals.hospForm" ng-submit="hospitals.onSubmitForm()" novalidate>
            <input type="text" class="hidden" id="hospId" name="Id" ng-model="hospitals.newData.Id" value="@Model.Item" form-autofill-fix>
            @*<div class="form-group">
                <div class="col-xs-6">
                    Hospital ID
                    <div class="input-group">
                        <input type="text"
                               placeholder=""
                               style="width: 150px;"
                               id="hospitalId"
                               name="hospitalId"
                               ng-model="hospitals.newData.hospitalId"
                               class="form-control ng-class:{'has-error': hospitals.hospForm.hospitalId.$touched && !hospitals.hospForm.hospitalId.$valid}"
                               ng-minlength="5"
                               required
                               form-autofill-fix>
                        <div role="alert" class="help-inline error" style="color:red">
                            <span class="error" ng-show="hospitals.showFormErrors && hospitals.hospForm.hospitalId.$error.required">Please enter hospital ID</span>
                            <span class="error" ng-show="hospitals.showFormErrors && hospitals.hospForm.hospitalId.$error.minlength">Hospital ID is required to be at least 5 characters</span>
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="form-group">
                <div class="col-xs-6">
                    Name
                    <div class="input-group">
                        <input type="text"
                               placeholder=""
                               style="width: 150px;"
                               id="name"
                               name="name"
                               ng-model="hospitals.newData.name"
                               class="form-control ng-class:{'has-error': hospitals.hospForm.name.$touched && !hospitals.hospForm.name.$valid}"
                               ng-minlength="5"
                               required
                               form-autofill-fix>
                        <div role="alert" class="help-inline error" style="color:red">
                            <span class="error" ng-show="hospitals.showFormErrors && hospitals.hospForm.name.$error.required">Please enter hospital name</span>
                            <span class="error" ng-show="hospitals.showFormErrors && hospitals.hospForm.name.$error.minlength">Hospital name is required to be at least 5 characters</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    Abbrev.
                    <div class="input-group">
                        <input type="text"
                               placeholder=""
                               style="width: 150px;"
                               id="abbrev"
                               name="abbrev"
                               ng-model="hospitals.newData.abbrev"
                               class="form-control"
                               ng-maxlength="5"
                               form-autofill-fix>
                        @*<div role="alert" class="help-inline error" style="color:red">
                                <span class="error" ng-show="hospitals.showFormErrors && hospitals.hospForm.abbrev.$error.required">Please enter hospital name</span>
                                <span class="error" ng-show="hospitals.showFormErrors && hospitals.hospForm.abbrev.$error.maxlength">Patient ID is required to be at least 5 characters</span>
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    Address
                    <div class="input-group">
                        <input type="text"
                               placeholder=""
                               style="width: 150px;"
                               id="address"
                               name="address"
                               ng-model="hospitals.newData.address"
                               class="form-control ng-class:{'has-error': hospitals.hospForm.address.$touched && !hospitals.hospForm.address.$valid}"
                               ng-minlength="5"
                               required
                               form-autofill-fix>
                        <div role="alert" class="help-inline error" style="color:red">
                            <span class="error" ng-show="hospitals.showFormErrors && hospitals.hospForm.address.$error.required">Please enter hospital address</span>
                            <span class="error" ng-show="hospitals.showFormErrors && hospitals.hospForm.address.$error.minlength">Address is required to be at least 5 characters</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    City
                    <div class="input-group">
                        <input type="text"
                               placeholder=""
                               style="width: 150px;"
                               id="city"
                               name="city"
                               ng-model="hospitals.newData.city"
                               class="form-control ng-class:{'has-error': hospitals.hospForm.city.$touched && !hospitals.hospForm.city.$valid}"
                               ng-minlength="5"
                               ng-maxlength="20"
                               required
                               form-autofill-fix>
                        <div role="alert" class="help-inline error" style="color:red">
                            <span class="error" ng-show="hospitals.showFormErrors && hospitals.hospForm.city.$error.required">Please enter city</span>
                            <span class="error" ng-show="hospitals.showFormErrors && hospitals.hospForm.city.$error.minlength">Minimum is 5 characters</span>
                            <span class="error" ng-show="hospitals.showFormErrors && hospitals.hospForm.city.$error.maxlength">Maximum is 20 characters</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    State
                    <div class="input-group">
                        <select class="form-control" id="state" name="state" ng-model="hospitals.newData.state" required form-autofill-fix>
                            <option value=""></option>
                            <option value="AL">AL</option>
                            <option value="AK">AK</option>
                            <option value="AZ">AZ</option>
                            <option value="AR">AR</option>
                            <option value="CA">CA</option>
                            <option value="CO">CO</option>
                            <option value="CT">CT</option>
                            <option value="DE">DE</option>
                            <option value="DC">DC</option>
                            <option value="FL">FL</option>
                            <option value="GA">GA</option>
                            <option value="HI">HI</option>
                            <option value="ID">ID</option>
                            <option value="IL">IL</option>
                            <option value="IN">IN</option>
                            <option value="IA">IA</option>
                            <option value="KS">KS</option>
                            <option value="KY">KY</option>
                            <option value="LA">LA</option>
                            <option value="ME">ME</option>
                            <option value="MD">MD</option>
                            <option value="MA">MA</option>
                            <option value="MI">MI</option>
                            <option value="MN">MN</option>
                            <option value="MS">MS</option>
                            <option value="MO">MO</option>
                            <option value="MT">MT</option>
                            <option value="NE">NE</option>
                            <option value="NV">NV</option>
                            <option value="NH">NH</option>
                            <option value="NJ">NJ</option>
                            <option value="NM">NM</option>
                            <option value="NY">NY</option>
                            <option value="NC">NC</option>
                            <option value="ND">ND</option>
                            <option value="OH">OH</option>
                            <option value="OK">OK</option>
                            <option value="OR">OR</option>
                            <option value="PA">PA</option>
                            <option value="RI">RI</option>
                            <option value="SC">SC</option>
                            <option value="SD">SD</option>
                            <option value="TN">TN</option>
                            <option value="TX">TX</option>
                            <option value="UT">UT</option>
                            <option value="VT">VT</option>
                            <option value="VA">VA</option>
                            <option value="WA">WA</option>
                            <option value="WV">WV</option>
                            <option value="WI">WI</option>
                            <option value="WY">WY</option>
                        </select>
                        <div role="alert" class="help-inline error" style="color:red">
                            <span class="error" ng-show="hospitals.showFormErrors && hospitals.hospForm.state.$error.required">Please enter state</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    Zip Code
                    <div class="input-group">
                        <input type="text"
                               placeholder=""
                               style="width: 150px;"
                               id="zipCode"
                               name="zipCode"
                               ng-model="hospitals.newData.zipCode"
                               class="form-control ng-class:{'has-error': hospitals.hospForm.zipCode.$touched && !hospitals.hospForm.zipCode.$valid}"
                               ng-minlength="5"
                               required
                               form-autofill-fix>
                        <div role="alert" class="help-inline error" style="color:red">
                            <span class="error" ng-show="hospitals.showFormErrors && hospitals.hospForm.zipCode.$error.required">Please enter zip code</span>
                            <span class="error" ng-show="hospitals.showFormErrors && hospitals.hospForm.zipCode.$error.minlength">Minimum is 5 characters</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6 text-left">
                    <button type="submit" id="cmdSubmit" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Add Hospital</button>
                </div>
            </div>

        </form>
    </div>

</div>

@section Scripts{

    <script src="~/Scripts/sabio.services.hospitals.js"></script>
    <script type="text/javascript">

        sabio.page.startUp = function () {
            sabio.page.userController = sabio.ng.getControllerInstance($("#hospitalsCtrl"));
        }

        sabio.services.hospitalsFactory = function ($baseService) {
            var aSabioServiceObject = sabio.services.hospitals;
            var newService = $baseService.merge(true, {}, aSabioServiceObject, $baseService);
            return newService;
        }

        sabio.ng.addService(sabio.ng.app.module,
            "$hospitalsService",
            ["$baseService"],
            sabio.services.hospitalsFactory);

        sabio.page.hospitalsControllerFactory = function ($scope, $baseController, $hospitalsService) {

            var vm = this;

            $baseController.merge(vm, $baseController);

            vm.$hospitalsService = $hospitalsService;
            vm.$scope = $scope;

            vm.onSubmitForm = _onSubmitForm;
            vm.onCreateSuccess = _onCreateSuccess;
            vm.onUpdateSuccess = _onUpdateSuccess;
            vm.onGetSuccess = _onGetSuccess;
            vm.onError = _onError;
            vm.getForm = _getForm;
            vm.getId = _getId;
            vm.addToHiddenId = _addToHiddenId;
            vm.fillInForm = _fillInForm;

            vm.newData = null;
            vm.showFormErrors = false;
            vm.alert = {
                saved: "Hospital saved!",
                updated: "Hospital updated!",
                error: "An error has occurred!"
            };

            vm.notify = vm.$hospitalsService.getNotifier($scope);

            render();

            function render() {
                vm.showFormErrors = false;
                vm.getForm();
            };

            function _onSubmitForm() {
                console.log("validating");
                vm.showFormErrors = true;

                if (vm.hospForm.$valid) {
                    console.log("form is valid");
                    var form = vm.newData;
                    console.log(form);
                    var hospId = $("#hospId").val();

                    if (hospId > 0) {
                        var serForm = $("#hospForm").serialize();         // CURRENT ALTERNATIVE; SEE TRELLO NOTES
                        console.log(serForm);
                        vm.$hospitalsService.updateHospital(hospId, form, vm.onUpdateSuccess, vm.onError);
                        return hospId;
                    } else {
                        vm.$hospitalsService.addHospital(form, vm.onCreateSuccess, vm.onError);
                        $("#cmdSubmit").html("Update Hospital");
                    }
                } else {
                    console.log("form is not valid");
                }
            }

            function _getForm() {
                var hospId = $("#hospId").val();
                vm.$hospitalsService.getHospital(hospId, vm.onGetSuccess, vm.onError);
            }

            function _getId(data) {
                hospId = data;
            }

            function _addToHiddenId(data) {
                console.log("Adding Id");
                $("#hospId").val(data);
            }

            function _fillInForm(data) {
                console.log("Filling in form");
                $("#hospId").val(data.Id).trigger('change');
                //$("#hospitalId").val(data.HospitalId).trigger('change');
                $("#name").val(data.Name).trigger('change');
                $("#abbrev").val(data.Abbrev).trigger('change');
                $("#address").val(data.Address).trigger('change');
                $("#city").val(data.City).trigger('change');
                $("#state").val(data.State).trigger('change');
                $("#zipCode").val(data.ZipCode).trigger('change');
            }

            function _onCreateSuccess(data, status, xhr) {
                if (data && data.Item) {
                    vm.addToHiddenId(data.Item);
                    vm.getId(data.Item);
                }
                console.log(vm.alert.saved);
                window.alert(vm.alert.saved);
                location.href = 'http://canore.dev/Hospitals';
            }

            function _onUpdateSuccess(data, status, xhr) {
                console.log(vm.alert.updated);
                window.alert(vm.alert.updated);
                location.href = 'http://canore.dev/Hospitals';
            }

            function _onGetSuccess(data, status, xhr) {
                if (data && data.Item) {
                    vm.fillInForm(data.Item);
                    $("#cmdSubmit").html("Update Hospital");
                }
            }

            function _onError(jqXHR, textStatus, errorThrown) {
                console.log(vm.alert.error);
                window.alert(vm.alert.error);
            }

            sabio.ng.app.module.directive('formAutofillFix', function () {
                return function (scope, elem, attrs) {
                    // Fixes Chrome bug: https://groups.google.com/forum/#!topic/angular/6NlucSskQjY
                    elem.prop('method', 'POST');

                    // Fix autofill issues where Angular doesn't know about autofilled inputs
                    if (attrs.ngSubmit) {
                        setTimeout(function () {
                            elem.unbind('submit').submit(function (e) {
                                e.preventDefault();
                                elem.find('input, textarea, select').trigger('input').trigger('change').trigger('keydown');
                                scope.$apply(attrs.ngSubmit);
                            });
                        }, 0);
                    }
                };
            });

        }

        sabio.ng.addController(sabio.ng.app.module,
            "hospitalsController",
            ['$scope', '$baseController', "$hospitalsService"],
            sabio.page.hospitalsControllerFactory);


    </script>

}